.app {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

header {
  position: sticky;
  z-index: 100;
  width: 100%;
}
main {
  margin-inline: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section {
  width: min(80ch, 100% - 3rem);
}

main section:last-child {
  margin-bottom: 5rem;
}

footer {
  margin-top: auto;
}
