@charset "utf-8";
@import "@fontsource/fira-mono";

:root {
  --font-big: "Barlow Condensed", sans-serif;
  --font-small: "Montserrat", sans-serif;
  --text: #10162f;
  --background: #fef1e5;
  --primary: #b8b6ce;
  --secondary: #ffffff;
  --accent: #4a65f0;
  --accent2: #ffb4b4;
  --accent-light: #7287f1;
  --light-gray: #eae9f2;
  --dark-gray: #333;
  --border: 1px solid var(--text);
  --br: 1rem;
  --br-small: 0.5rem;
  --shadow: 0.25rem 0.25rem 0 var(--text);
  --icon-size: 1.5rem;
  --nav-height: 3.75rem;
  font-family: var(--font-small);
  /* font-size: 0.75rem; */
}

body {
  background-color: var(--background);
  color: var(--text);
}

h1,
h2,
h3 {
  font-family: var(--font-big);
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1,
h2,
h3 {
  line-height: 90%;
}

h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.25rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

small {
  font-size: 0.5rem;
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}
input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 1px solid var(--text);
  background-color: var(--light-gray);
}
input:focus {
  background-color: var(--secondary);
  outline: 1px solid var(--text);
}
*:focus-visible {
  /* text-decoration: underline; */
  outline: 2px solid var(--text);
  outline-offset: 0.25rem;
}

.page-content {
  width: 100%;
  padding-top: var(--nav-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.page-content section {
  width: min(80ch, 100% - 3rem);
}

button.cta {
  background-color: var(--accent);
  color: var(--secondary);
  cursor: pointer;
  /* border: 1px solid var(--accent); */
  font-weight: 700;
  padding: 1rem 1.5rem;
}

button.ghost {
  color: var(--accent);
  font-weight: 700;
  padding: 1rem 1.5rem;
}

.hide {
  display: none;
}

.popup {
  background-color: var(--secondary);
  box-shadow: var(--shadow);
  border: var(--border);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.tiles-bg {
  position: relative;
  overflow: hidden;
  background-color: var(--text);
  color: var(--secondary);
}
.tiles-bg:before {
  content: "";
  background-color: var(--text);
  position: absolute;
  width: 100rem;
  height: 100rem;
  top: 50%;
  left: 50%;
  background: url(/images/tiles-white.png);
  background-size: 20rem;
  opacity: 0.1;
  transform: translate(-50%, -50%) rotate(45deg);
}
.mobile {
  display: none;
}
.link {
  color: var(--accent);
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --icon-size: 1.25rem;
  }
  .card-grid {
    gap: 0.5rem;
    grid-template-columns: 1fr;
  }

  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}

@media (hover: hover) {
  button.ghost:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  button.cta:hover {
    background-color: var(--accent-light);
  }
  .link:hover {
    text-decoration: underline;
  }
}

body.dark {
  --secondary: #10162f;
  --background: rgb(45, 45, 45);
  --text: #d5c8bc;
  --accent: rgb(159, 159, 255);
  --accent2: #ac8282;
  --border: 1px solid #555;
  --primary: #68647d;
  --shadow: 0.25rem 0.25rem 0 var(--text);
}
/*playlist card*/
body.dark .top-banner {
  color: black;
}

/* @media screen and (max-width: 400px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
} */
